node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
out
build
coverage

.git
.gitignore
.github

.env
.env.local
.env.local.example

Dockerfile
.dockerignore
docker-compose.yml
DEPLOYMENT.md
README.md

.vscode
.idea
*.tsbuildinfo
next-env.d.ts
